p {
    color: red;
}

.texto-maiusculo {
    text-transform: uppercase;
    color: peru;
}

#texto-azul {
    color: magenta;
}

body {
    background-color: lightgreen;
    background-image: url(../images/abstract-grunge-decorative-relief-navy-blue-stucco-wall-texture-wide-angle-rough-colored-background_1258-28311.jpg);
}

h1 {
    color: #202124;
    border: 15px solid green;
    background-color: chartreuse;
}